footer{
    margin-top: var(--large);
    background-color: var(--white);
    padding: 2rem;
}
footer .logo{
    height: 6rem;
}
span.footer-icon{
    color: var(--green700);
    font-variation-settings: 'FILL' 1;
    margin-right: 1rem;
}
footer a{
    text-decoration: none;
    color: var(--green900);
}
footer a:hover{
    color: var(--green700);
}
footer h4, footer .logo{
    margin-bottom: 2rem;
}
.footer-columns-container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    gap: 2rem;
}

.footer-column div:not(.logo){
    display: flex;
    margin-bottom: 1rem;
}
.footer-nav{
    list-style: none;
    padding: unset;
}
.footer-nav li{
    margin-bottom: 2rem;
    font-weight: 600;
}
.news-form-footer{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
.news-form-footer button{
    width: auto;
}
.news-form-footer .checkbox-custom{
    margin-bottom: 1rem;
}
footer hr{
    color: var(--green600);
    margin-bottom: 2rem;
}
.footer-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.socials{
    justify-self: start;
}
.socials img{
    height: 2rem;
    margin-right: 1rem;
}
.copyright{
    justify-self: center;
}
.payment-icons{
    justify-self: end;
    height: 2rem;
}