.product{
    margin: var(--standard) var(--large);
}
.product-container{
    display: flex;
    gap: var(--standard);
    margin-bottom: var(--small);
}

.product-img{
    width: 50%;
    max-width: 480px;
    
}
.product-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border: 1px solid var(--sand300);
    border-radius: 12px;
}

.oko-icons{
    display: flex;
    height: 1.5rem;
    gap: 1rem;
}

.variant-btns {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.variation-button {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.variation-button.selected {
    border-color: #8b9440;
    box-shadow: 0 0 0 2px #8b9440;
}

/* .variation-button.selected::after {
    content: "✓";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8b9440;
    color: white;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 3px;
} */

.selected-price {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1rem;
}
.vaegt-label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #4b4c1c;
}





.tabs {
    display: flex;
}

.tab-btn {
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    border: 2px solid transparent;
    margin-bottom: -2px;
    background: transparent;
    font-size: 1rem;
    color: var(--grey);
    font-weight: bold;
}

.tab-btn.active-tab {
    border: 2px solid var(--green600);
    border-bottom-color: transparent;
    border-radius: 6px 6px 0px 0px;
    color: var(--green900);
    background: var(--white);
    
}

.tab-content {
    display: none;
    padding: 1rem 2rem;
}

.tab-content.active-tab {
    display: block;
    border-top: 2px solid var(--green600);
   
    
}

.related-products h2{
    text-align: center;
}


.qty-btn-wrapper {
    display: flex;
    align-items: center;
    background: var(--sand200);
    border-radius: 6px;
    width: fit-content;
}

.qty-btn {
    background: none;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid #e1dbc9;
}

.qty-btn.plus {
    border-left: 1px solid #e1dbc9;
    border-right: none;
}

.qty-display {
    padding: 12px 24px;
    text-align: center;
    min-width: 24px;
}
