/* General */
.fade-in {
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: scale(1);
}

/* Intro */
.intro {
    margin: var(--large);
    display: flex;
    gap: var(--large);
    justify-content: center;
}

.introTekst h1 {
    margin-bottom: 32px;
}

.introBillede img{
    width: 520px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}

/* Værdier sektion */
.vaerdier {
     margin: var(--large) var(--standard);
}

.vaerdier h2 {
    text-align: center;
}

.vaerdierIndhold {
    display: flex;
        justify-content: center;
    gap: var(--standard);
}

.vaerdierBillede img{
    width: 520px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.vaerdierBoks {
    background-color: var(--green100);
    padding: var(--small);
    border-radius: 12px;
    margin-bottom: var(--small);
}

.vaerdierBoks span {
    font-weight: 900;
}

.vaerdierBoks p {
    margin: 0;
}

.vaerdierBoks i{
    padding-right: 6px;
    font-size: 32px;
    color: var(--green500);
}

/* Teksboks med billede sektion */
.tekstboksMedBaggrund {
    gap: var(--large);
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 80%;
    display: flex;
}

.tekstboksMedBaggrundTekst {
    display: inline-block;
    padding: var(--standard);
    margin: var(--large);
    background-color: var(--sand300);
    border-radius: 12px;
    width: 600px;
}

.tekstboksMedBaggrundTekst h2 {
    display: inline-block;
    border-bottom: 3px solid var(--green600);
    padding-bottom: 8px;
}

/* Rundvisnings sektion */
.rundvisning {
    margin: var(--large);
    display: flex;
    justify-content: center;
    gap: var(--large);
}

.rundvisningBillede img{
    width: 520px;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}

.rundvisningTekst a {
    color: var(--green500);
}

/* Gårdbutik sektion */
.omGaardbutik {
    margin: var(--large);
    display: flex;
    gap: var(--large);
    justify-content: center;
}

.omGaardbutikBillede img{
    width: 520px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.butikCTA {
    display: flex;
    gap: var(--small);
}

@media (min-width: 1921px) {
  html {
    margin: 10rem;
  }

  .tekstboksMedBaggrund {
    height: 100%;
        width: 100%;

}

}

@media(max-width: 1439px) {
    .intro {
        margin-left: var(--small);
        margin-right: var(--small);
    }

  .introBillede img {
    height: 400px;
    width: 470px;
  }


.vaerdierBillede img{
    width: 370px;
}

.tekstboksMedBaggrund {
    height: 100%;
}

.tekstboksMedBaggrundTekst {
    margin-left: var(--small);
    margin-right: var(--small);
  }

.rundvisning {
    margin-left: var(--small);
    margin-right: var(--small);
  }

  .rundvisningBillede img {
    height: 500px;
    width: 470px;
  }

  .omGaardbutik {
    margin-left: var(--small);
    margin-right: var(--small);
  }

  .omGaardbutikBillede img {
    height: 500px;
    width: 470px;
  }

}

@media (max-width: 1024px) {
    .intro {
        flex-direction: column;
        gap: var(--standard);
        justify-content: center;
    }

    .introBillede img {
        justify-content: center;
        width: 100%;
        height: 400px;
        object-position: center top;
    }

    .vaerdier {
        margin-bottom: 96px;
    }

    .vaerdierIndhold {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .vaerdierBillede img {
        display: none;
    }

     .rundvisning {
        flex-direction: column-reverse;
        gap: var(--standard);
    }

    .rundvisningBillede img {
        justify-content: center;
        width: 100%;
        height: 400px;
        object-position: center top;
    }

     .omGaardbutik {
        flex-direction: column;
        gap: var(--standard);
    }

    .omGaardbutikBillede img {
        justify-content: center;
        width: 100%;
        height: 400px;
    }
}
   
  @media (max-width: 767px) {
  .vaerdier {
    margin-left: var(--small);
    margin-right: var(--small);
  }
}